


body{
  
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  margin: 0; 
  background: url('../assets/aguateste.png');
}
h1{
  color: blue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.d-block{
  width: 800px;
  height: 600px;
  margin: 0px;
}


.logo {
  width: 280px;
  height: 250px;

  @media(max-width: 400px) {
    padding: 0 20px 30px;
    
  }
  
}

.fonte-ferradura, .wpp, .insta, .history {
  height: 50px;
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration: none;

  @media(max-width: 360px) {
    padding: 30px;
    
  }
}

.fonte-ferradura{
  color: rgb(4, 4, 172);
}
.wpp{
  color: green;
  
  
}
.insta{
  color: rgb(147, 78, 212);
}
.history{
  color: black;
  
}

.icone{  
  
  width: 49px;
  height: 49px;
}
.icone1{
  width: 61px;
  height: 61px;
  margin-bottom: -14px;
}

.icone2{
  width: 49px;
  height: 49px;
  border-radius:20px;
}
.icone2{
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
a.active,
a:hover {
    box-shadow: -20px 20px 30px rgba(0, 0, 0, 0.5);
}

a{
  background-color: rgba(255, 255, 255, 0.781);
  border-radius: 35px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.6s all ease-in-out;
}

.carousel{
  @media (max-width: 803px) {
    width: 500px;
    height: 700px;
    padding: 20px 20px;
    
  }
}
